<div align = "center">
  <h1>Image Index</h1>
  <h3> <%= link_to 'Upload image using url', new_image_path %> </h3>
  <h2>List of images</h2>
  <div>
    <% @images.each do |f| %>
      <p>
        <%= link_to(image_tag(f.link, width: '400', title: f.title), image_path(f), { class: 'js-show-page-link' })%>
        <div>
          <strong class= 'js-image-title' ><%= f.title%></strong>
        </div>
        <div class = 'js-image-tags'>
          <%= f.tag_list%>
        </div>
      </p>
    <% end %>
  </div>
</div>
